@charset "utf-8";

@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	
	-webkit-transition: $obj $time $type;	
	-o-transition: $obj $time $type;
}
@mixin transitionProperty($obj) {
	transition-property: $obj;
	-moz-transition-property: $obj;	
	-webkit-transition-property: $obj;	
	-o-transition-property: $obj;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

%IEBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

@mixin transform($code) {
	transform: $code;
    -webkit-transform: $code;
    -moz-transform: $code;
    -o-transform: $code;
    -ms-transform: $code;
}

@mixin transform-origin($code) {
	transform-origin: $code;
	-ms-transform-origin: $code;
	-o-transform-origin: $code;
	-webkit-transform-origin: $code;
	-moz-transform-origin: $code;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}


ul {
	list-style-type: none;
}

input, a, button, textarea {
	outline: medium;
}

.header {
    box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);

	.project-list {
		padding: 0;
		color: #555;
	}

	.p-item {
		float: left;
		margin-right: 5px;
		padding: 18px 20px;
		cursor: pointer;
		border-bottom: 2px solid #fff;
		@include transition();
		

		&:hover {
			border-bottom-color: lighten(#006cee, 30%);
		}


		&.active {
			border-bottom-color: #006cee;
		}
	}

}

.panel {
	display: none;
	padding: 0 10px;

	&.open {
		display: block;
	}
}


.section {
	float: left;
	margin-right: 30px;


	.title {
	    margin-top: 20px;
	    font-size: 16px;
	    font-weight: 400;
	    padding: 0 15px;
	    color: #3A3A4F;
	    border-left: 5px solid #3A3A4F;
	    border-radius: 4px;
	}

	.s-cont {
	    margin-top: 10px;
    	font-size: 14px;
	}

	.label {
	    color: #666;
    	margin-bottom: 5px;
	}

	.form-text {
		display: block;
	    margin-bottom: 5px;
	    width: 500px;
	    max-width: 500px;
	    padding: 8px 10px;
	    border: 1px solid #ccc;
	    border-radius: 2px;
	    font-size: 14px;
	    font-family: inherit;

	    @include transition($obj: border-color);

	    &:focus {
    	    border-color: #3A3A4F;
	    }
	}

	.btn {
	    display: inline-block;
	    margin: 5px 0;
	    padding: 7px 30px;
	    font-size: 13px;
	    font-family: inherit;
	    color: #fff;
	    border: 1px solid #0055bb;
	    border-radius: 2px;
	    background-color: #006cee;
	    cursor: pointer;
	    @include transition();

	    &:hover {
    	    border: 1px solid #006cee;
    		background-color: #0978ff;
	    }

	    &:active {
    	    border: 1px solid #0055bb;
    		background-color: #0060d5;
	    }
	}

	pre {
		font-family: inherit;
	    width: 500px;
	    padding: 8px 10px;
	    font-size: 14px;
	    word-wrap: break-word;
	    word-break:break-all;
	    white-space: pre-wrap;
	    border: 1px solid #ccc;
	    @include transition();
	}


}

.letterMatrix {

	margin-bottom: 4px;
	max-width: 255px;
	border: 1px solid #ccc;
	border-width: 0 0 1px 1px;

	li {
		float: left;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border: 1px solid #ccc;
		border-width: 1px 1px 0 0;
	}
}


.clearfix {
	*zoom: 1;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}